version: '3.8'
services:
  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
      - GF_INSTALL_PLUGINS=fr-serg-sqlite-datasource
    volumes:
      - ./grafana-data:/var/lib/grafana
    restart: unless-stopped
